{% load static %}
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="/customer/index"><img src="{% static 'customer/img/footer-logo.png' %}" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Block-5 Atal Apartment Nikol</li>
                        <li>Phone: +91 76003 87784</li>
                        <li>Email: chauhanhiren@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Quick Link's</h5>
                    <ul>
                        <li><a href="/customer/index">Home</a></li>
                        <li><a href="/customer/cart">Cart</a></li>
                        <li><a href="/customer/myorder">Orders</a></li>
                        <li><a href="/customer/contact">Inquery</a></li>
                        <!-- <li><a href="#">Serivius</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Account's</h5>
                    <ul>
                        <li><a href="/customer/register">Customer Register</a></li>
                        <li><a href="/customer/saler_reg">Saler Register</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Join Our Newsletter Now</h5>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter Your Mail">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Harry</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="payment-pic">
                        <img src="{% static 'customer/img/payment-method.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>