{% extends 'saler/common/layout.html'%}
{% block content %} 
{% load static %}
<div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">All Order</h5>
                        <p class="m-b-0">All Order List</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/myadmin/dashboard"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">All Order</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">

                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h4>All Order</h4>
                                    <!-- <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span> -->
                                </div>
                                <div class="container ml-1 mt-4 mb-4">
                                    <div style="display: flex; align-items: center;">
                                        <form method="GET" action="{% url 'search_order' %}" class="col-sm-12" style="display: flex;">
                                            <div class="form-group mr-3">
                                                <label for="start_date">From Date:</label>
                                                <input type="date" class="form-control" id="start_date" name="start_date">
                                            </div>
                                            <div class="form-group mr-3">
                                                <label for="end_date">To Date:</label>
                                                <input type="date" class="form-control" id="end_date" name="end_date">
                                            </div>
                                            <div style="margin-top: 27px; margin-left: 25px;">
                                                <button type="submit" class="btn btn-primary">Filter</button>
                                            </div>
                                        </form>
                                        <div style="margin-top: 15px; margin-left: 650px; position: absolute;">
                                            <a href="{% url 'gen_pdf_orders' %}?start_date={{ start_date|date:'Y-m-d' }}&end_date={{ end_date|date:'Y-m-d' }}">
                                                <button class="btn btn-primary">Download PDF</button>
                                            </a>
                                        </div>
                                        <div style="margin-top: 15px; margin-left: 800px; position: absolute;">
                                            <a href="{% url 'gen_excel_order' %}?start_date={{ start_date|date:'Y-m-d' }}&end_date={{ end_date|date:'Y-m-d' }}">
                                                <button class="btn btn-primary">Download Excel</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                  <th>id</th>
                                                  <th>Customer Name</th>
                                                  <th>Date</th>
                                                  <th>Amount</th>
                                                  <th>Payment Method</th>
                                                  <th>Status</th>
                                                  <th>View More</th>
                                                  <!-- <th>Delete</th> -->
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {% for row in order %}
                                                <tr class="active">
                                                    <td>{{row.id}}</td>
                                                    <td>{{row.user.first_name}}</td>
                                                    <td>{{row.date}}</td>
                                                    <td>{{row.amount}}</td>
                                                    <td>{{row.pay_method}}</td>
                                                    <td>{{row.status}}</td>

                                                    <td>
                                                        <a href="/saler/order_detail/{{row.id}}"><button class="btn btn-success">View More</button></a>
                                                    </td>
                                                    <!-- <td>
                                                        <a href="/saler/delete_product/{{row.id}}"><button class="btn btn-danger">Delete</button></a>
                                                    </td> -->
                    
                                                    
                                                </tr>
                                                {% endfor %}
                                              </tbody>
                                        </table>
                                      </div>
                                </div>
                            </div>
                            <!-- Basic Form Inputs card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <div id="styleSelector">

        </div>
    </div>
{% endblock %}
